
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 50px;
    display: grid;
    grid-template-columns: min-content;
    justify-content: center;
    text-align: center;
    background-color: #000327;
}

header {
    background-color: #00064F;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 30px #acd8f8;
    z-index: 1;
}

h1 {
    color: #D9DCFF;
    font-size: 60px;
    text-shadow: 0 0 10px #92D1FF;
    font-weight: bold;
}

header img {
    height: 100%;
    object-fit: contain;
}

#output {
    color: #D9DCFF;
    font-size: 32px;
    text-shadow: 1px 1px 5px #92D1FF;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
